[package]
name = "auth"
version = "0.1.0"
edition = "2024"


[dependencies]
reqwest = { workspace = true, features = ["json", "rustls-tls"] }
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
