# Von Cargo generierte Dateien
/target/

# Temporäre Dateien von Editoren
*.swp
*.swo
.idea/
.vscode/

# Backup-Dateien
*.bak
*.tmp

# Debugging-Dateien
*.pdb

# Log-Dateien
*.log

# Cargo.lock (nur ignorieren, wenn es sich um eine Bibliothek handelt)
/Cargo.lock

*.py
*.md
bevy_animation_graph-master/*