(
    species_name: "Elf",


    attribute_distributions: {
        Strength: (mean: 0.35, std_dev: 0.08),
        Agility: (mean: 0.7, std_dev: 0.1),
        Toughness: (mean: 0.35, std_dev: 0.08),
        Endurance: (mean: 0.6, std_dev: 0.1),
        Recuperation: (mean: 0.6, std_dev: 0.1),
        DiseaseResistance: (mean: 0.65, std_dev: 0.1),
        Focus: (mean: 0.7, std_dev: 0.1),
        Creativity: (mean: 0.65, std_dev: 0.15),
        Willpower: (mean: 0.6, std_dev: 0.15),
        AnalyticalAbility: (mean: 0.6, std_dev: 0.1),
        Intuition: (mean: 0.65, std_dev: 0.15),
        Memory: (mean: 0.7, std_dev: 0.1),
        Patience: (mean: 0.7, std_dev: 0.1),
        SpatialSense: (mean: 0.6, std_dev: 0.15),
        Empathy: (mean: 0.4, std_dev: 0.15),
        Leadership: (mean: 0.45, std_dev: 0.15),
        SocialAwareness: (mean: 0.5, std_dev: 0.15),
        Negotiation: (mean: 0.55, std_dev: 0.15),
        LinguisticAbility: (mean: 0.75, std_dev: 0.1),
        Musicality: (mean: 0.8, std_dev: 0.1),
    }
)