// #![enable(implicit_some)]
({
    // === Fonts (Beispiel, wenn Sie einen bestimmten laden wollen) ===
    // Wenn Sie main_font aus GameAssets laden wollen statt aus dem Theme
    // "font.main": File( path: "fonts/Roboto-Regular.ttf" ),

    // === Icons ===
    "icon.settings": File( path: "game-icons/PNG/Black/2x/gear.png" ),
    "icon.delete": File( path: "game-icons/PNG/Black/2x/cross.png" ),
    "icon.checkmark": File( path: "game-icons/PNG/White/1x/checkmark.png" ),

    // === Species ===
    "species.elf": File( path: "species/elf.species.ron" ),
    "species.human": File( path: "species/human.species.ron" ),
    "species.ork": File( path: "species/ork.species.ron" ),


    // Optional: Loading Icon (falls verwendet)
     "texture.loading_icon": File( path:"game-icons/PNG/Black/2x/return.png" ), // Prüfen ob Textures-Ordner existiert
})