// #![enable(implicit_some)]
({

    // === Species ===
    "species.elf": File( path: "species/elf.species.ron" ),
    "species.human": File( path: "species/human.species.ron" ),
    "species.ork": File( path: "species/ork.species.ron" ),


})