[package]
name = "settings"
version = "0.1.0"
edition.workspace = true


[lib]
path = "src/lib.rs"
# doctest = false # Enable if you want to skip doctests initially.

[dependencies]
anyhow.workspace = true
bitflags.workspace = true
color-eyre.workspace = true
log.workspace = true
futures.workspace = true
paths.workspace = true
rust-embed.workspace = true
serde.workspace = true
tree-sitter = "0.25.8"
toml.workspace = true
toml_edit.workspace = true
thiserror = "1.0.38"
bevy = {version = "0.16.1", default-features = false, optional= true }
[dev-dependencies]


[features]
bevy = ["dep:bevy"]
